/*公共样式*/
*{
    padding: 0;
    margin:0;
}
body{
	font-family:"微软雅黑","Arial","Times New Roman";
	color:#684029;
	font-size:16px;
}
a{
    text-decoration: none;
	
}
li{
    list-style: none;
}
.fl{float: left;}
.fr{float: right;}
/* 头部 */
header{
	width:100%;
	height:60px;
}
.my_header{
	width:100%;
	height:60px;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	background:#fff;
	box-shadow: 0 2px 2px 0 rgba(195,195,195,0.50);
}
/* 尾部 */
.my_footer{
	margin-top:50px;
	width:100%;
	height:100%;
}